{extend name="default_layout" /}
{block name="content"}
<script type="text/javascript">

function gogogo(moduleName, layoutName){
	$.post("{:CONTROLLER_NAME}/creatFiles", {'moduleName' : moduleName, 'layoutName' : layoutName},
		function(data){
			$('#msg').html(data);
		}
	);
}

$(function(){
	$('#gogogo').bind("click", function(){
		var moduleName = $('#moduleName').val();
		var checkedBox = $('input:checked');
		layoutName = $('#layoutName').val();
		gogogo(moduleName, layoutName);
	});	

});
</script>
<div class="mainbar">
	<!-- Page heading -->
	<div class="page-head">
	  <h2 class="pull-left"><i class="icon-home"></i>公共文件生成</h2>

	<div class="clearfix"></div>
	</div>
	<!-- Page heading ends -->


	<!-- Matter -->

	<div class="matter">
		<div class="container">
			<div class="row">
			<div class="col-md-6">
				<div class="widget">
					<div class="widget-head">
					  <div class="pull-left" height="80">
					  部署公共资源
					  </div>
					  <div class="widget-icons pull-right">
						<a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
						<a href="#" class="wclose"><i class="icon-remove"></i></a>
					  </div>  
					  <div class="clearfix"></div>
					</div>  
					<div class="widget-content" >
					<div class="padd">
						<p>
							此步骤是带.view.html的文件都发布在view文件夹下，同时将公共文件也就是所选theme中的public文件夹下的文件复制到项目发布目录中
						</p>
                      <div class="form quick-post">
							<!-- Edit profile form (not working)-->
							<div class="form-horizontal">  
								<div class="form-group">
									<label class="control-label col-lg-2">目标模块:</label>
									<div class="col-lg-6">       
										<input  id="moduleName" value="{$moduleName}" disabled="disabled" class="form-control" type="text">                            
									</div>
								</div>   
								<!-- 风格模板 -->
								<div class="form-group">
									<label class="control-label col-lg-2">风格模板:</label>
									<div class="col-lg-6">  
										<input  id="layoutName" value="{$layoutName}" disabled="disabled" class="form-control" type="text">                            
									</div>
								</div>
	
									
								<!-- Buttons -->
								<div class="form-group">
									<!-- Buttons -->
									<label class="control-label col-lg-2"> </label>
									<div class="col-lg-6">
									<p>
									<button class="btn btn-success" id="gogogo">生成</button>
										
									</p>
									</div>
								</div>
							</div>
						</div><!--end  paddad-->
					</div>
				</div>	
				</div>	
			</div>
		</div>
		  
		 <div id="msg"></div> 
		</div><!-- container Graph end -->
	</div>
</div>
{/block}