<!-- Main bar -->
<style>
.mainbar{
font-size:14px;
padding:10px;
}

p{
	line-height:30px;
}
</style>
<div class="mainbar">

<h1>帮助</h1>
<p>1.配置好你的数据库，把TPH文件夹复制到你的项目目录中</p>
<p>2.修改你的入口文件，加入你要生成的模块，像这样：define('BIND_MODULE','Test');访问你的入口文件，让Thinkphp自动生成你的模块下的目录结构（注意，暂时仅支持在项目根目录下的模块）</p>
<p>3.访问http://127.0.0.1/[这里是你的项目名]/index.php/TPH,这时你应该能看到ThinkphpHelper的操作界面了</p>
<p>4.在“生成模块选项”中，选择你的目标模块，把你要生成的控制器对应的表名打上勾，点击下面的“生成”按钮，这一步是为了生成布局文件，同时它会修改模块目录下的config文件使之开启布局选项。</p>
<p>5.在“生成CRUD代码”中，选择你要生成的目标模块，并且选择你要生成的数据表，点击蓝色按钮“直接生成文件”</p>
<p>6.继续选择你要生成的其他数据表，并生成对应的文件</p>
<p>7.修改你的模块中的IndexController.class.php文件的index方法，将其内容改为：$this->display();</p>
<p>8.访问你的项目，have fun</p>

</div>   
  