{literal}{extend name="layout" /}{/literal}
{literal}{block name="content"}{/literal}
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
		<div class="row-content am-cf">
		<div class="row">
				<div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
						<div class="widget am-cf">
								<div class="widget-head am-cf">
										<div class="widget-title am-fl">编辑{$tableName|pressTableDict}</div>
										<div class="widget-function am-fr">
												<a href="javascript:;" class="am-icon-cog"></a>
										</div>
								</div>
								<div class="widget-body am-fr">
										{include file="edit" /}
								</div>
						</div>
				</div>
		</div>
	</div>
</div>
{literal}{/block}{/literal}