<tr>
    <td> <span>字段：{$fieldName} <input type="hidden" name="form[{$findex}][field_name]" value="{$fieldName}" > </span> </td>
    <td> <input class="form-control" type="text" name="form[{$findex}][title]" placeholder="中文描述"> </td>
    <td> <select class="form-control" name="form[{$findex}][input_type]" id="">
        <option value="text">text</option>
        <option value="select">select</option>
        <option value="radio">radio</option>
        <option value="checkbox">checkbox</option>
        <option value="textarea">textarea</option>
        <option value="password">password</option>
        <option value="number">number</option>
        <option value="date">date</option>
    </select> </td>
    <td> <input class="form-control" type="text" name="form[{$findex}][input_value]" placeholder="选项值，以#分隔"> </td>
    <td> <input class="form-control" type="text" name="form[{$findex}][default_value]" placeholder="默认值"> </td>
    <td> <input class="form-control" type="checkbox" name="form[{$findex}][is_search]" > </td>
    <td> <input class="form-control" type="checkbox" name="form[{$findex}][is_not_null]" > </td>
    <td><select class="form-control" name="form[{$findex}][searche_type]" id="">
            <option value="text">text</option>
            <option value="select">select</option>
            <option value="date">date</option>
    </select> </td>
    <td><input class="form-control" type="checkbox" name="form[{$findex}][is_sort]" >
    <td><input class="form-control" type="text" name="form[{$findex}][v_datatype]" placeholder="正则或预定义规则"> </td>
    <td><input class="form-control" type="text" name="form[{$findex}][v_nullmsg]" placeholder="必填项为空时提示"> </td>
    <td><input class="form-control" type="text" name="form[{$findex}][v_errormsg]" placeholder="格式错误时提示"> </td>
    <th><a href="#">高级选项</a></th>
</tr>