
{volist name="menuList" id="menuItem"}
	<li class="has_sub"><a href="#"><i class="icon-list-alt"></i>
		{:tableNameToModelName($menuItem)}
	<span class="pull-right"><i class="icon-chevron-right"></i></span></a>	
	<ul>
		<li><a href="{literal}{:url(\\think\\Request::instance()->module().'{/literal}/{:tableNameToModelName($menuItem)}/lists')}">管理</a></li>
		<li><a href="{literal}{:url(\\think\\Request::instance()->module().'{/literal}/{:tableNameToModelName($menuItem)}/add')}">新建</a></li>
	</ul>
	</li>
{/volist}