{extend name="default_layout" /}
{block name="title"}TPH 帮助{/block}

{block name="content"}
<div class="mainbar" style="font-size: 16px;padding: 10px;">

    <p>
        新建一个项目，名字为test1，复制TPH2到项目的public目录下(网站访问的根目录)，<br/>这里是一个作为例子的项目使用的数据库结构
        （TPH并不限制你的数据库结构，但是请保证所有表都有一个id作为主键）<br/>
        <img src="{:TEMPLATE_PATH}asset/img/help/1.jpg" alt="">
    </p>


    <p>
        <br/>
    </p>
    <p>
        2.配置项目的数据库链接，修改application/database.php文件，使得项目能够正确连接数据库<br/>
        <img src="{:TEMPLATE_PATH}asset/img/help/2.jpg" alt="">
    </p>
    <p>
        <br/>
    </p>
    <p>
        3.浏览器访问 [域名]/TPH2&nbsp; 这时你应该能够看到TPH的欢迎界面了<br/>
        <img src="{:TEMPLATE_PATH}asset/img/help/3.jpg" alt="">
    </p>
    <p>
        <br/>
    </p>
    <p>
        4.生成公共文件<br/>
        <img src="{:TEMPLATE_PATH}asset/img/help/4.jpg" alt="">
    </p>
    <p>
        <br/>
    </p>
    <p>
        5.生成前台界面，依次选择你要生成的表单对应的数据表并点击“一键生成文件”<br/>
        <img src="{:TEMPLATE_PATH}asset/img/help/5.jpg" alt="" width="70%">
    </p>
    <p>
        <br/>
    </p>
    <p>
        6.选中要生成控制器对应的表，点击“直接生成文件”<br/>
        <img src="{:TEMPLATE_PATH}asset/img/help/6.jpg" alt="">
    </p>
    <p>
        <br/>
    </p>
    <p>
        7.使用“简易模型代码生成”，选中对应表，直接生成文件<br/>
        <img src="{:TEMPLATE_PATH}asset/img/help/7.jpg" alt="">
    </p>
    <p>
        <br/>
    </p>
    <p>
        8.访问对应页面<br/>
        <img src="{:TEMPLATE_PATH}asset/img/help/8.jpg" alt="">
    </p>
    <p>
        Enjoy it!<br/>
    </p>
</div>
{/block}

